<?xml version='1.0'?>
<launch>
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.0"/>
    <param name="robot_description" command="$(find xacro)/xacro '$(find deliverybot_description)/urdf/dbot.xacro'"/>
    <node name="dbot_spawn" pkg="gazebo_ros" type="spawn_model" 
        output="screen" args="-urdf -param robot_description -model dbot -x $(arg x) -y $(arg y) -z $(arg z)"/>    
    <include file="$(find deliverybot_control)/launch/deliverybot_controller.launch" />
    <include file="$(find deliverybot_control)/launch/deliverybot_hw_controller.launch" />
</launch>