<?xml version='1.0'?>
<launch>
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.5"/>
    <param name="robot_description" command="$(find xacro)/xacro '$(find elevator_description)/models/building_elevator/elevator.urdf'"/>

    <node name="elevator_spawn" pkg="gazebo_ros" type="spawn_model" 
        output="screen" args="-urdf -param robot_description -model elevator -x $(arg x) -y $(arg y) -z $(arg z)"/>    
    <include file="$(find elevator_controls)/launch/elevator_controller.launch" />
</launch>
