<launch>
   <!-- Arguments -->
   <arg name="cmd_vel_topic" default="/dbot/cmd_vel" />
   <arg name="odom_topic" default="/dbot/odom" />
   <arg name="move_forward_only" default="false" />

   <!-- move base -->

   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find deliverybot_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find deliverybot_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find deliverybot_navigation)/config/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find deliverybot_navigation)/config/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find deliverybot_navigation)/config/teb_base_local_planner_param.yaml" command="load" />

      <remap from="cmd_vel" to="$(arg cmd_vel_topic)" />
      <remap from="odom" to="$(arg odom_topic)" />

      <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
      <param name="controller_frequency" value="5.0" />
   </node>

</launch>
